:root {
  --textpad: 4px;
  --textline: 1.2rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr 80px;
  margin-top: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form textarea {
  border: 1px solid;
  line-height: var(--textline);
  padding: var(--textpad);
  resize: none;
  width: 100%;
}

.form textarea:focus {
  outline: 2px solid blue;
}

.form input[type='submit'] {
  display: block;
  height: 100%;
  width: 100%;
  background: #515151;
  color: #fff;
  border: 0;
}
