@value textpad: 4px;
@value textline: 1.2rem;
@value blue: #ace;

.form {
  display: grid;
  grid-template-columns: 1fr 80px;
}

.form textarea {
  border: 1px solid;
  line-height: 1.2rem;
  padding: textpad;
  resize: none;
  width: 100%;
}

.form textarea:focus {
  outline: 2px solid blue;
}

.form input[type='submit'] {
  display: block;
  height: 100%;
  width: 100%;
  background: #515151;
  color: #fff;
  border: 0;
}
