@value textpad, textline from "./styles/form.module.css";

.App {
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-main {
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: calc(textpad * 2 + textline * 2) 1fr;
  row-gap: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
